<h1>Currencies#show</h1>
<p>Find me in app/views/currencies/show.html.erb</p>


<ol>
  <li> <%= @currency.name %></li>
  <li>price:<%= number_to_currency(@currency.current_price, :precision => 2)  %></li>
  <li>volume_24h:<%= number_with_precision(@currency.volume_24h, precision: 0, delimiter: ",")  %></li>
  <li>circulating_supply <%=number_with_precision(@currency.circulating_supply, precision: 0, delimiter: ",")  %> </li>
  <li>max_supply: <%=number_with_precision(@currency.max_supply, precision: 0, delimiter: ",")  %></li>

<a href="www.google.com">hahuahuauh</a>

<p>Bitcoin cash eh um fork do bitcoin que foi feito a 2anos atraz e tem mais ou menos as mesmas funcionalidades</p>


</ol>
