<div class="banner" style="background: url('/assets/bitcoin-island.jpg');">
  <div class="banner-content">
    <h1>BOX TWO</h1>
    <p>The best way to trade criptocurrency directly between owners (P2P).</p>
    <%= form_tag offers_path, method: :get, class: "" do %>
      <%= select_tag "currency", options_from_collection_for_select(@currencies, "id", "name"), class: "form-control select optional", :onchange => "this.form.submit();" %>
    <% end %>
  </div>
</div>

<div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="/assets/wallet.jpg" class="card"/>
      <h2>Create your own Wallet</h2>
      <p>Create a user to generate a unique wallet.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="/assets/coins.png" width="300" height="300" class="card"/>
      <h2>Select your cryptocurrency</h2>
      <p>Choose your cryptocurrency and define what you doing with her.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="/assets/bitcoin.jpg" width="300" height="300" class="card"/>
      <h2>Buy and sell</h2>
      <p>Select your cryptocurrency and buy our sell.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="/assets/love.png" class="card"/>
      <h2>Share and love</h2>
      <p>Join a community you will love.</p>
    </div>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Criptocurrency Market</h2>
    <div class="form-group">
      <label for="sel1">View period</label>
      <select class="form-control" id="period">
        <option value="1D">1 Day</option>
        <option value="1W">1 Week</option>
        <option value="2W">2 Weeks</option>
        <option value="1M">1 Month</option>
        <option value="3M">3 Months</option>
        <option value="6M">6 Months</option>
        <option value="1Y">1 Year</option>
      </select>
    </div>


    <div id='widget-cards' data-currencies="<%= @currencies.to_json %>">
      <% @currencies.map do |currency| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="row">
            <script id="<%= currency.symbol %>"></script>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag "widget" %>

<div class="text-center padded" id="newsletter">
  <h2>Get news from us</h2>
  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="lula@institutolula.org" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fab fa-youtube"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>This is a Marketplace challenge @ LeWagon</p>
      </div>
    </div>
  </div>
</div>

