<div class="container">
  <div class="wallet-show">
    <h1><%= @wallet.amount %> of <%= link_to @wallet.currency do %>
      <%= @wallet.currency.name %></h1>
      <% end %>
      <h2>Market Value (US$) <%= number_to_currency(@wallet.currency.current_price * @wallet.amount, precision: 2, delimiter: ',') %></h2>
    </div>


    <%= simple_form_for([@wallet, @offer]) do |f| %>
    <%= f.input :price %>
    <%= f.input :amount %>
    <%= f.submit %>
    <% end %>

    <%= link_to "Back", wallets_path %>
    <%= link_to "Edit", edit_wallet_path %>
    <%= link_to "Delete?", wallet_path(@wallet),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </div>
</div>
