  <div class="wallet-show">
    <h1><%= @wallet.amount %> of <%= @wallet.currency.name %></h1>
  </div>
  <%= link_to "Back", wallets_path %>
  <%= link_to "Edit", edit_wallet_path %>
  <%= link_to "Delete?", wallet_path(@wallet),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
