  <div class="wallet-show">
    <h1><%= @wallet.amount %> of <%= link_to @wallet.currency do %>
      <%= @wallet.currency.name %></h1>
    <% end %>
  </div>


  <%= simple_form_for([@wallet, @offer]) do |f| %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>

  <%= link_to "Back", wallets_path %>
  <%= link_to "Edit", edit_wallet_path %>
  <%= link_to "Delete?", wallet_path(@wallet),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
