<div class="container">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn.shopify.com/s/files/1/1448/0474/products/BIG_Midnight_Black__50111_grande.jpg');">
    <div class="card-category">Coin: <%= @trade.offer.wallet.currency.name %></div>
    <div class="card-description">
     <p>Vendedor: <%= @trade.offer.wallet.user.email %></p>
     <p>Comprador: <%= current_user.email %></p>
     <p>Price: <%= number_to_currency(@trade.offer.price) %></p>
     <p>Amount: <%= number_with_precision(@trade.offer.amount, presicion: 5, significant: true, strip_insignificant_zeros: true, delimiter: ",") %></p>
  </div>
</div>
