
<div class="container">

<<<<<<< HEAD
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://cdn.shopify.com/s/files/1/1448/0474/products/BIG_Midnight_Black__50111_grande.jpg');">
  <div class="card-category">Coin: <%= @trade.offer.wallet.currency.name %></div>
  <div class="card-description">
    <p>Vendedor: <%= @trade.offer.wallet.user_id %></p>
    <p>Comprador: <%= @trade.user_id %></p>
    <p>Price: <%= @trade.offer.price %></p>
    <p>Amount: <%= @trade.offer.amount %></p>
=======
  <div class="offer-card">
    <h1>Current User #: <%= @current_user.email  %></h1>
    <br>
    <h1>Vendedor #: <%= @trade.offer.wallet.user_id %></h1>
    <br>
    <h1>Comprador #: <%= @trade.user_id %></h1>
    <br>
    <h1>Currency #: <%= @trade.offer.wallet.currency.name %></h1>
    <br>
    <h1>Price: <%= @trade.offer.price %></h1>
    <br>
    <h1>Amount: <%= @trade.offer.amount %></h1>
>>>>>>> 245a1857f5dec79dc07f0659c2781bb1236b8c21
  </div>
</div>

</div>
